*{
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  margin: 0;
  color: white;
  background-color: cadetblue;
}

body, button, input{
  font-size: 1.2rem;
}

main{
  border: 2px solid transparent;
  box-shadow: 0px 0px 10px 0px black;
}

.text-center{
  text-align: center;
}